* {
  font-family: 'Montserrat';
  background-color: black;
  color: white;
}

/* Navigator Links */

.nav_bar{
  margin: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.clearfix{
  clear: both;
}

/* Welcome Image */

.animal_slides{
  height: 500px;
  width: 100%;
}

.container{
  float: left;
  height: 30vw;
  width: 54%;
}

.center{
  margin-top: 100px;
}

.container h1, .container h2, .container h3{
  text-align: center;
}

/* Animals in Zoo */

.animals{
  float: left;
  margin-left: 10%;
  margin-top: 100px;
  padding-bottom: 50px;
}

.animals img{
  width: 200px;
  height: auto;
}

.select_animal{
  width: 100%;

}

.select_animal li{
  padding: 10px;
  text-decoration: none;
  float: left;
}