body {
    font-family: Courier New;
    background-color: #7BD075;
    text-align: center;
}
.poster{
    background-color: white;
    border-radius: 5%;
    width:600px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
#price-per-mission{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 189, 31);
    font-size: 32px;
}
#Rarity-Legendary{
    color:gold;
}

#dollarimg{
    height: 64px;
    width: 64px;
}
#description{
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
}