h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 79, 128);
    text-align: center;
  }
  
p {
      inline-size: 300px;
      overflow-wrap: break-word;
      display: flex;
      justify-content: center;
      align-items: center;
}