body {
  font-family: Monaco, monospace;
  background-color: turquoise;
  text-align: center;
}

img {
	max-height: 600px;
	height: 70%;
	width: auto;
}

.container {
	max-width: 500px;
	height: auto;
	width: 70%;
	margin: 0 auto;
}